<div class="container">
  <div class="mt-4">
    <div class="col-md-auto">

      <div class="row mt-4">
        <div class="col-3">
          <h4><span class="bg-light">商品一覧</span></h4>
        </div>
        <div class="col-8 text-right">
          <%= link_to "＋", new_admin_item_path, class:"h1 text-decoration-none text-dark", 'data-turbolinks': false  %>
        </div>
      </div>
      
      <div class="col-12 mt-4 mb-5">
      <%= render 'index', items: @items %>
      </div>
      
    </div>
  </div>
</div>